<!DOCTYPE html>
<html>
<head>
  <title>We made you a card</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="ui-overlay-a">
  <%= yield %>
</body>
</html>
